@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --gradient: linear-gradient(45deg, #9cafdb, #ff7079 #845ec2, #d65db1);

  --background: #fff;
  --blob: #fdfbfd;
  --shades: inset 10px 0 40px #f7f8fc, inset -10px 0 20px #f7e1ef, inset -40px 10px 100px #c3c5ea;

  @media (prefers-color-scheme: dark) {
    --background: #0f0c24;
    --blob: #bca5e3;
    --shades: inset 10px 0 40px #a174db, inset -10px 0 20px #40245e, inset -40px 10px 110px #1b1648;
  }
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  height: 100vh;
  line-height: 1.3;
  color: #000;

  background-color: rgb(255, 255, 255);
  margin: 0;
}

header,
p {
  margin: 0;
}

.button-center {
  width: 100%;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
}

.link {
  display: inline;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bg {
  background-color: #fff;
}

// TEXT UTILITY
.text-bold {
  font-family: "Roboto";
  font-weight: 900;
}

.main-nav {
  padding: 30px;
}


.wave {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 40vh;

  z-index: -1;
}


.research-img {
  transform: translateY(60px);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
}

.research-btn,
.copy-btn {
  position: relative;
  top: 60px;
  opacity: 0;
}

.two-phones {
  display: none;
}

// li {
//   position: relative;
//   background-color: #1e88e5;
//   width: 179px;
//   height: 40px;
// }

// .mt4-menu {
//   position: absolute;
//   top: 0%;
//   left: 100%;

//   display: none;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;
//   opacity: 0;

//   max-width: 160px;
//   grid-template-columns: 1fr;
//   gap: 10px;

//   padding: 10px 16px;
//   background-color: #1e88e5;

//   z-index: 30;

//   a {
//     color: rgb(255, 255, 255);
//   }
// }

// @keyframes show-menu {
//   0% {
//     opacity: 0;
//   }
//   50% {opacity: 1;}

// }

// .item-menu:hover .mt4-menu,
// .item-menu:hover .allpips-menu {
//   display: flex;
//   opacity: 1;
//   animation: show-menu .3s ease-in;
// }

// .allpips-menu-item {
//   width: 130px;
//   font-size: 1rem;
//   a {
//     color: #fff;
//     font-size: 14px;
//     padding: 10px 16px;
//   }
// }

// ICON ANIMATION
.group {
  top: 60px;
  right: 0;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 875px;
}

.img {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;

  margin: -50px 0 0 -50px;

  animation: scale 10s alternate-reverse infinite ease-in-out;
  transform: scale(0);

  -webkit-clip-path: circle(0.5% at 50% 50%);
  clip-path: circle(0.5% at 50% 50%);
  transform: translateY(0px);
  opacity: 0;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-tesla {
  position: relative;
  top: 280px;
  left: 500px;

  width: 200px;
  height: 180px;
  background-image: url("../../icons/icon-tesla.svg");
  z-index: 2;
  animation-delay: 14s;
}

@keyframes scale {
  0% {
    transform: scale(1) translateY(5px);
  }

  100% {
    transform: scale(1) translateY(0px);
  }

  40% {
    transform: scale(1) translateY(5px);
  }

  15% {
    transform: scale(1.1) translateY(5px);
  }

  25% {
    transform: scale(1) translateY(0px);
  }
}

.icon-apple {
  top: 470px;
  left: 400px;

  width: 200px;
  height: 180px;
  background-image: url("../../icons/icon-apple.svg");
  animation-delay: 8s;
}

.icon-btc {
  top: 140px;
  left: 600px;

  width: 90px;
  height: 60px;

  background-image: url("../../icons/icon-btc.svg");
  animation-delay: 16s;
}

.icon-er-us {
  top: 340px;
  left: 680px;

  width: 150px;
  height: 150px;
  background-image: url("../../icons/icon-er-us.svg");
  animation-delay: 18s;
}

.icon-er-zar {
  top: 600px;
  left: 340px;

  width: 150px;
  height: 90px;
  background-image: url("../../icons/icon-us-zar.svg");
  animation-delay: 4s;
}

.icon-eth {
  top: 330px;
  left: 320px;

  width: 180px;
  height: 170px;
  background-image: url("../../icons/icon-eth.svg");
  animation-delay: 10s;
}

.icon-gold {
  top: 250px;
  left: 430px;

  width: 150px;
  height: 120px;
  background-image: url("../../icons/icon-gold.svg");
  animation-delay: 6s;
  z-index: -1;
}

.icon-letcoin {
  top: 600px;
  left: 500px;

  width: 150px;
  height: 120px;
  background-image: url("../../icons/icon-litecoin.svg");
  animation-delay: 2s;
}

.icon-nasdaq {
  top: 140px;
  left: 500px;

  width: 150px;
  height: 120px;
  background-image: url("../../icons/icon-nasdaq.svg");
  animation-delay: 0s;
  z-index: -1;
}

.icon-ripple {
  top: 190px;
  left: 430px;

  width: 120px;
  height: 70px;
  background-image: url("../../icons/icon-ripple.svg");
  animation-delay: 14s;
}

.icon-twitter {
  top: 470px;
  left: 650px;

  width: 220px;
  height: 100px;
  background-image: url("../../icons/icon-twitter.svg");
  animation-delay: 5s;
}

.icon-us-dkk {
  top: 150px;
  left: 670px;

  width: 220px;
  height: 100px;
  background-image: url("../../icons/icon-us-dkk.svg");
  animation-delay: 14s;
  z-index: 2;
}

.icon-us-sek {
  top: 250px;
  left: 700px;

  width: 220px;
  height: 90px;
  z-index: 1;
  background-image: url("../../icons/icon-us-sek.svg");
  animation-delay: 16s;
}

.icon-us-cn {
  top: 200px;
  left: 580px;

  width: 220px;
  height: 170px;
  background-image: url("../../icons/icon-us-cn.svg");
  animation-delay: 12s;
}

// MARGIN
.mb-t {
  margin-top: 70px;
}

// WRAP
.wrap {
  max-width: 420px;
}

// FLOW
.split {
  display: flex;
}

// BTN

.base-btn {
  display: block;
  width: 200px;

  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  color: #fff;

  text-align: center;

  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
  background-size: 300%;
  background-image: linear-gradient(94.61deg, #9cafdb -4.13%, #ff7079 117.26%);
  transform: translateY(0);
  transition: all 0.3s ease-in;

  &:focus,
  &:hover {
    color: #fff;
    animation: bg-gradient 5s infinite alternate;
    transform: translateY(-5px);
  }
}

.blue-gradient {
  background-image: linear-gradient(271.9deg, #ffa4a4 -16.79%, rgba(87, 94, 255, 0.59) 133.23%);

  &:hover {
    color: #fff;
    animation: bg-gradient 5s infinite alternate blue-gradient 0.3s infinite alternate;
  }
}

.ghost-btn {
  color: #0d6efd;
  border: 2px solid #0d6efd;
  background: transparent;

  &:hover {
    color: #fff;
    background-color: #0d6efd;
  }
}

@keyframes blue-gradient {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

@keyframes bg-gradient {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

// SECTION
.copy-trading-section {
  padding: 70px 0;

  .copy-trading-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .copy-trading-heading {
      font-size: 1.875rem;
    }

    .copy-trading-desc {
      line-height: 1.5;
    }
  }

  .phone-left {
    position: relative;
    top: 50px;
    left: 20px;

    z-index: 1;
  }

  .phone-right {
    position: relative;
  }
}

.text-gradient {
  background-image: linear-gradient(94.61deg, #9cafdb -4.13%, #ff7079 117.26%, #d65db1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: bg-gradient 5s infinite alternate;
}

.start-gradient {
  background-image: linear-gradient(94.61deg, #619dff 50.13%, #ff7079 117.26%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: bg-gradient 5s infinite alternate;
}

@keyframes bg-gradient {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

//  RESEARCH SECTION
.research-section {
  padding: 70px 0;
  background-color: rgba(242, 242, 242, 0.2);

  .research-header {
    .research-heading {
      font-size: 1.875rem;
    }
  }
}

// ADVANTAGES SECTION
.advantage-section {
  position: relative;
  padding: 70px 0;

  &::after,
  &::before {
    display: block;
    position: absolute;

    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);

    content: "";

    min-height: 200px;
    min-width: 200px;
    width: 40%;
    height: 60%;

    background-color: var(--blob);
    box-shadow: var(--shades);
    background-size: 1600% 1600%;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: transform 30s ease-in-out infinite both alternate, movement 20s ease-in-out infinite both;
  }

  &::after {
    top: 54%;
    left: 20%;

    min-height: 50px;
    min-width: 50px;
    width: 5%;
    height: 5%;
    z-index: -1;
  }

  .advantage-wrapper {
    .advantage__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: 20px;

      .advantage__item {
        position: relative;
        display: grid;
        grid-template-columns: 120px 1fr;
        justify-content: center;
        align-items: center;

        gap: 10px;
        padding: 10px;
        height: 160px;

        border: 2px solid rgba(187, 187, 187, 0.171);
        background-image: rgba(255, 255, 255, 0.52);
        backdrop-filter: blur(10px);
        border-radius: 10px;


        &::after,
        &::before {
          position: absolute;
          display: block;
          content: "";

          top: -20px;
          left: -20px;

          width: 48px;
          height: 48px;

          background: linear-gradient(141.16deg, #b3ffeb 0%, #1ce4ae 101.45%);
          border-radius: 15px;
        }

        &::after {
          width: 24px;
          height: 24px;

          top: -3%;
          left: -2%;

          background-image: url("../../arrow-down.svg");
          background-size: contain;
          background-position: center;
        }

        .advantage__header {
          color: #000;
          font-size: 14px;
          font-weight: 900;
        }

        .advantage__desc {
          font-size: 14px;
        }

        .img-container {
          display: flex;
          align-items: baseline;
        }
      }
    }
  }
}

// BLOB
@keyframes transform {

  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@keyframes movement {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: translateY(20%) rotateY(10deg);
  }
}

// START TRADING
.start-trading {
  position: relative;
  padding: 70px 0;

  .start-btn-wrapper {
    gap: 10px;
  }



  .start-trading-wrapper {
    .start-trading-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 10px;

      .start-trading-item {
        padding: 20px;
        border: 3px solid #fff;
        border-radius: 10px;
        background-color: #f4f6f9;
        box-shadow: 40px 40px 50px -10px rgba(170, 160, 160, 0.1);

        transform: translateY(80px);
        opacity: 0;

        .start-heading {
          font-family: "Roboto";
          font-weight: 600;
          font-size: 20px;
        }

        .start-body {
          .link-register {
            font-weight: 800;

            &:focus,
            &:hover {
              color: #0d6efd;
            }
          }
        }
      }
    }
  }
}

// SUPPORT SECTION
.support-section {
  position: relative;
  padding: 70px 0;

  .support-header {
    .support-desc {
      font-size: 1.25rem;
      color: #817e7e;
    }
  }

  .support-wrapper {
    .support-list {
      display: grid;
      grid-template-columns: repeat(2, 280px);
      gap: 10px;
 
      .support-item {

        .link-wrap {
                  display: grid;
                  grid-template-columns: 60px 1fr;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  
                  height: 80px;
                  color: #242020;
                  padding: 10px 20px;
                  box-shadow: 7px 23px 30px -10px rgba(0, 0, 0, 0.1);
                  background-color: #fff;
                  border-radius: 6px;
                  
                  background-image: url('../../icons/arrow-right.svg');
                  background-position: 240px 30px;
                  background-repeat: no-repeat;
                  background-size: auto;

                  transform: translateY(0);
                  transition: all .3s ease-in;
                  &:hover {
                    transform: translateY(-5px);
                  }
              p {
                font-size: 1rem;
              }

        }
    
      }

    }
  }

  .icon-user-plus {
    position: relative;
    filter: drop-shadow(42px 48px 90px rgba(143, 143, 143, 0.35));
  }

  .icon-user-plus::after {
    position: absolute;
    display: block;
    content: "";

    top: -20px;
    right: -20px;

    width: 80px;
    height: 80px;

    border: transparent;
    border-radius: 0;
    transform: scale(0.5);
    opacity: 0;

    background-image: url("../../icons/icon-user.svg");
    background-repeat: no-repeat;
    background-size: contain;

    z-index: 1;
  }


  .circle {
    position: absolute;
    top: -30%;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
  }
}

@media (max-width: 991.98px) {
  .research-section {
    .images {
      order: 0;
    }

    .text {
      order: 1;
    }
  }

  .copy-trading-section {
    .ml-120 {
      padding-left: 0;
      margin-bottom: 70px;
    }
  }
}

@media (max-width: 767.98px) {
  .wave {
    height: 80vh;
  }

  .start-trading {
    .start-trading-wrapper {
      .start-trading-list {
        .start-trading-item {
          display: flex;
          gap: 20px;
        }
      }
    }
  }

  .copy-trading-section {
    .split {
      margin-left: 0;
    }
  }
}

@media (max-width: 576.98px) {
  .advantage-section {
    .advantage-wrapper {
      .advantage__list {
        grid-template-columns: 1fr;

        .advantage__item {
          grid-template-columns: 80px 1fr;

          &::before {
            left: 20px;
            width: 40px;
            height: 40px;
          }

          &::after {
            top: -10px;
            left: 30px;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .advantage-section,
  .start-trading,
  .copy-trading-section,
  .research-section {
    padding: 50px 0;
  }

  .wrap {
    max-width: 100%;
  }

  .copy-trading-section {
    .phone-left {
      left: -6px;
    }

    .phone-right {
      right: 20px;
    }
  }

  .research-header,
  .copy-trading-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    text-align: center;
  }

  .start-trading {
    .start-trading-wrapper {
      .base-btn {
        margin: 0 auto;
      }
    }
  }

  .phone-left,
  .phone-right {
    display: none;
  }

  .two-phones {
    display: block;
  }
}

@media (max-width: 320px) {
  .copy-trading-section {
    .phone-right {
      top: -40px;
      left: -40px;
      width: 60%;
    }
  }
}