@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
  --gradient: linear-gradient(45deg, #9cafdb, #ff7079 #845ec2, #d65db1);
  --background: #fff;
  --blob: #fdfbfd;
  --shades: inset 10px 0 40px #f7f8fc, inset -10px 0 20px #f7e1ef, inset -40px 10px 100px #c3c5ea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0c24;
    --blob: #bca5e3;
    --shades: inset 10px 0 40px #a174db, inset -10px 0 20px #40245e, inset -40px 10px 110px #1b1648;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  height: 100vh;
  line-height: 1.3;
  color: #000;
  background-color: white;
  margin: 0;
}

header,
p {
  margin: 0;
}

.button-center {
  width: 100%;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bg {
  background-color: #fff;
}

.main-nav {
  padding: 30px;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  z-index: -1;
}

.research-img {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
}

.research-btn,
.copy-btn {
  position: relative;
  top: 60px;
  opacity: 0;
}

.two-phones {
  display: none;
}

.group {
  top: 60px;
  right: 0;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 875px;
}

.img {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  margin: -50px 0 0 -50px;
  animation: scale 10s alternate-reverse infinite ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-clip-path: circle(0.5% at 50% 50%);
  clip-path: circle(0.5% at 50% 50%);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-tesla {
  position: relative;
  top: 280px;
  left: 500px;
  width: 200px;
  height: 180px;
  background-image: url("../../icons/icon-tesla.svg");
  z-index: 2;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1) translateY(5px);
            transform: scale(1) translateY(5px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  40% {
    -webkit-transform: scale(1) translateY(5px);
            transform: scale(1) translateY(5px);
  }
  15% {
    -webkit-transform: scale(1.1) translateY(5px);
            transform: scale(1.1) translateY(5px);
  }
  25% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1) translateY(5px);
            transform: scale(1) translateY(5px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  40% {
    -webkit-transform: scale(1) translateY(5px);
            transform: scale(1) translateY(5px);
  }
  15% {
    -webkit-transform: scale(1.1) translateY(5px);
            transform: scale(1.1) translateY(5px);
  }
  25% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}

.icon-apple {
  top: 470px;
  left: 400px;
  width: 200px;
  height: 180px;
  background-image: url("../../icons/icon-apple.svg");
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.icon-btc {
  top: 140px;
  left: 600px;
  width: 90px;
  height: 60px;
  background-image: url("../../icons/icon-btc.svg");
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

.icon-er-us {
  top: 340px;
  left: 680px;
  width: 150px;
  height: 150px;
  background-image: url("../../icons/icon-er-us.svg");
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

.icon-er-zar {
  top: 600px;
  left: 340px;
  width: 150px;
  height: 90px;
  background-image: url("../../icons/icon-us-zar.svg");
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.icon-eth {
  top: 330px;
  left: 320px;
  width: 180px;
  height: 170px;
  background-image: url("../../icons/icon-eth.svg");
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.icon-gold {
  top: 250px;
  left: 430px;
  width: 150px;
  height: 120px;
  background-image: url("../../icons/icon-gold.svg");
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  z-index: -1;
}

.icon-letcoin {
  top: 600px;
  left: 500px;
  width: 150px;
  height: 120px;
  background-image: url("../../icons/icon-litecoin.svg");
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.icon-nasdaq {
  top: 140px;
  left: 500px;
  width: 150px;
  height: 120px;
  background-image: url("../../icons/icon-nasdaq.svg");
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  z-index: -1;
}

.icon-ripple {
  top: 190px;
  left: 430px;
  width: 120px;
  height: 70px;
  background-image: url("../../icons/icon-ripple.svg");
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

.icon-twitter {
  top: 470px;
  left: 650px;
  width: 220px;
  height: 100px;
  background-image: url("../../icons/icon-twitter.svg");
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.icon-us-dkk {
  top: 150px;
  left: 670px;
  width: 220px;
  height: 100px;
  background-image: url("../../icons/icon-us-dkk.svg");
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  z-index: 2;
}

.icon-us-sek {
  top: 250px;
  left: 700px;
  width: 220px;
  height: 90px;
  z-index: 1;
  background-image: url("../../icons/icon-us-sek.svg");
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

.icon-us-cn {
  top: 200px;
  left: 580px;
  width: 220px;
  height: 170px;
  background-image: url("../../icons/icon-us-cn.svg");
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.mb-t {
  margin-top: 70px;
}

.wrap {
  max-width: 420px;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.base-btn:hover,
.base-btn:focus,
.base-btn {
  display: block;
  width: 200px;
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
  background-size: 300%;
  background-image: linear-gradient(94.61deg, #9cafdb -4.13%, #ff7079 117.26%);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.base-btn:hover:focus, .base-btn:hover:hover,
.base-btn:focus:focus,
.base-btn:focus:hover,
.base-btn:focus,
.base-btn:hover {
  -webkit-animation: bg-gradient 5s infinite alternate;
          animation: bg-gradient 5s infinite alternate;
}

.base-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@-webkit-keyframes bg-gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.copy-trading-section {
  padding: 70px 0;
}

.copy-trading-section .copy-trading-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.copy-trading-section .copy-trading-header .copy-trading-heading {
  font-family: "Roboto";
  font-size: 1.875rem;
  font-weight: 600;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.copy-trading-section .copy-trading-header .copy-trading-desc {
  line-height: 1.5;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.copy-trading-section .phone-left {
  position: relative;
  top: 50px;
  left: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
  z-index: 1;
}

.copy-trading-section .phone-right {
  position: relative;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
}

.text-gradient {
  background-image: linear-gradient(94.61deg, #9cafdb -4.13%, #ff7079 117.26%, #d65db1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  -webkit-animation: bg-gradient 5s infinite alternate;
          animation: bg-gradient 5s infinite alternate;
}

.start-gradient {
  background-image: linear-gradient(94.61deg, #619dff 50.13%, #ff7079 117.26%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  -webkit-animation: bg-gradient 5s infinite alternate;
          animation: bg-gradient 5s infinite alternate;
}

@keyframes bg-gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.research-section {
  padding: 70px 0;
  background-color: rgba(242, 242, 242, 0.2);
}

.research-section .research-header .research-heading {
  font-family: "Roboto";
  font-size: 1.875rem;
  font-weight: 600;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.research-section .research-header .research-desc {
  line-height: 1.5;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.advantage-section {
  position: relative;
  padding: 70px 0;
}

.advantage-section::after, .advantage-section::before {
  display: block;
  position: absolute;
  top: 20%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  min-height: 200px;
  min-width: 200px;
  width: 40%;
  height: 60%;
  background-color: var(--blob);
  -webkit-box-shadow: var(--shades);
          box-shadow: var(--shades);
  background-size: 1600% 1600%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-animation: transform 30s ease-in-out infinite both alternate, movement 20s ease-in-out infinite both;
          animation: transform 30s ease-in-out infinite both alternate, movement 20s ease-in-out infinite both;
}

.advantage-section::after {
  top: 54%;
  left: 20%;
  min-height: 50px;
  min-width: 50px;
  width: 5%;
  height: 5%;
  z-index: -1;
}

.advantage-section .advantage-header {
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
}

.advantage-section .advantage-wrapper .advantage__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.advantage-section .advantage-wrapper .advantage__list .advantage__item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 1fr;
      grid-template-columns: 120px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px;
  height: 160px;
  border: 2px solid rgba(187, 187, 187, 0.171);
  background-image: rgba(255, 255, 255, 0.52);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
}

.advantage-section .advantage-wrapper .advantage__list .advantage__item::after, .advantage-section .advantage-wrapper .advantage__list .advantage__item::before {
  position: absolute;
  display: block;
  content: "";
  top: -20px;
  left: -20px;
  width: 48px;
  height: 48px;
  background: linear-gradient(141.16deg, #b3ffeb 0%, #1ce4ae 101.45%);
  border-radius: 15px;
}

.advantage-section .advantage-wrapper .advantage__list .advantage__item::after {
  width: 24px;
  height: 24px;
  top: -3%;
  left: -2%;
  background-image: url("../../arrow-down.svg");
  background-size: contain;
  background-position: center;
}

.advantage-section .advantage-wrapper .advantage__list .advantage__item .advantage__header {
  color: #000;
  font-size: 14px;
  font-weight: 900;
}

.advantage-section .advantage-wrapper .advantage__list .advantage__item .advantage__desc {
  font-size: 14px;
}

.advantage-section .advantage-wrapper .advantage__list .advantage__item .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@-webkit-keyframes transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@keyframes transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@-webkit-keyframes movement {
  0%,
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(20%) rotateY(10deg);
            transform: translateY(20%) rotateY(10deg);
  }
}

@keyframes movement {
  0%,
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(20%) rotateY(10deg);
            transform: translateY(20%) rotateY(10deg);
  }
}

.start-trading {
  position: relative;
  padding: 70px 0;
}

.start-trading .start-trading-header .start-trading-heading {
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
}

.start-trading .start-trading-wrapper .start-trading-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 10px;
}

.start-trading .start-trading-wrapper .start-trading-list .start-trading-item {
  padding: 20px;
  border: 3px solid #fff;
  border-radius: 10px;
  background-color: #f4f6f9;
  -webkit-box-shadow: 40px 40px 50px -10px rgba(170, 160, 160, 0.1);
          box-shadow: 40px 40px 50px -10px rgba(170, 160, 160, 0.1);
}

.start-trading .start-trading-wrapper .start-trading-list .start-trading-item .start-heading {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
}

.start-trading .start-trading-wrapper .start-trading-list .start-trading-item .start-body .link-register {
  font-weight: 800;
}

@media (max-width: 991.98px) {
  .research-section .images {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .research-section .text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .copy-trading-section .ml-120 {
    padding-left: 0;
    margin-bottom: 70px;
  }
}

@media (max-width: 767.98px) {
  .wave {
    height: 80vh;
  }
  .start-trading .start-trading-wrapper .start-trading-list .start-trading-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .copy-trading-section .split {
    margin-left: 0;
  }
}

@media (max-width: 576.98px) {
  .advantage-section .advantage-wrapper .advantage__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .advantage-section .advantage-wrapper .advantage__list .advantage__item {
    -ms-grid-columns: 80px 1fr;
        grid-template-columns: 80px 1fr;
  }
  .advantage-section .advantage-wrapper .advantage__list .advantage__item::before {
    left: 20px;
    width: 40px;
    height: 40px;
  }
  .advantage-section .advantage-wrapper .advantage__list .advantage__item::after {
    top: -10px;
    left: 30px;
    width: 20px;
    height: 20px;
  }
  .advantage-section,
  .start-trading,
  .copy-trading-section,
  .research-section {
    padding: 50px 0;
  }
  .wrap {
    max-width: 100%;
  }
  .copy-trading-section .phone-left {
    left: -6px;
  }
  .copy-trading-section .phone-right {
    right: 20px;
  }
  .research-header,
  .copy-trading-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    text-align: center;
  }
  .start-trading .start-trading-wrapper .base-btn {
    margin: 0 auto;
  }
  .phone-left,
  .phone-right {
    display: none;
  }
  .two-phones {
    display: block;
  }
}

@media (max-width: 320px) {
  .copy-trading-section .phone-right {
    top: -40px;
    left: -40px;
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */